*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main-div {
    width: 100%;
    height: 100vh;
    background-color: #6983aa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

  }
.center-div {
    width: 70%;
    height: 75vh;
    background-color: #f4f4f4;
    border-radius: 25px;
    transition: 1s box-shadow;

  
}
.center-div:hover{
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);

}
.title{
   font-family: "Roboto","san-sarif";
   
}
 p{
    font-family: "Dosis", "san-sarif";
    animation: contentLoad 2s;
}
button{
    padding: 10px;
    border: none;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    transition: box-shadow 500ms;
    color: #f4f4f4;
    animation: contentLoad 4s;
    
   
}
button:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.text{
    color: #179ae6;
    /* visibility: hidden; */
    animation: contentLoad 1s;
}

@keyframes contentLoad {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
        
    

}
.wrapper {
    height: auto;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  
  .typing-demo {
    width: 70%;
    animation: typing 1.5s steps(15), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
.navi{
    position: absolute;
    float: right;
    top: 0%;
    left: 73%;
}
 li{
    display: inline;
    list-style-type: none;
    padding: 15px;
    border-radius: 8px 0px;
    float: left;
    color: white;
   transition:  box-shadow 500ms;
}
li:hover{
    /* color: #179ae6; */
    /* background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%); */
    /* background-color: white; */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    /* color: #179ae6; */

    

    
}
@media only screen and (max-width: 1200px){
    .navi{left: 300px;}
}
@media only screen and (max-width: 600px){
    .typing-demo{
        width: 100%;
    }
	li{font-size: 15px;padding: 8px;}
    .navi{left: auto; right: auto;}
    .center-div{width: 85%; height: 80vh;}
    .center-div h1{font-size: 60px;}
    .center-div p{font-size: 25px;}
    button{font-size: 20px !important;}
}
@media only screen and (max-width: 500px){
    .typing-demo{
        width: 100%;
    }
	li{font-size: 15px !important;padding: 10px;}
    .navi{left: auto; right: auto;}
    .center-div{width: 85%; height: 80vh;}
    .center-div h1{font-size: 40px !important;}
    .center-div p{font-size: 18px;}
    button{font-size: 15px !important;}
}
@media only screen and (max-width: 400px){
    .typing-demo{
        width: 100%;
    }
    .navi{left: auto; right: auto;}
}


